# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# WebStorm
.idea

# VS Code
.vscode

# Compiled files
*.js
*.js.map
*.d.ts
dist/
